<div class="panel panel-default">
  
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-2">
        <h4>Package listing</h4>
      </div>
      <div class="col-sm-4 col-sm-offset-6">
        <form class="form-inline">
          <input type="search" ng-model="searchterm" class="form-control">
        </form>
      </div>
    </div>
  </div>
  
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <th>Package</th>
        <th>Version</th>
        <th>Architecture</th>
      </thead>
      <tbody>
        <tr ng-repeat="pkg in repolist | filter:searchterm">
          <td><a href="#repo/{{pkg['Architecture']}}/{{pkg['Package']}}">{{pkg['Package']}}</a></td>
          <td>{{pkg['Version']}}</td>
          <td>{{pkg['Architecture']}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
